@import "/home/davidn/.cache/wal/colors-waybar.css";

* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Propo Regular';
  font-size: 0.97em;
}

.modules-left {
  margin-left: 0.4em;
}

.modules-right {
  margin-right: 0.4em;
}

#workspaces button {
  all: initial;
  padding: 0 0.5em;
  margin: 0 0.02em;
  min-width: 0.8em;
}

#workspaces button.empty {
  opacity: 0;
}

#cpu,
#battery,
#pulseaudio,
#custom-launcher,
#workspaces,
#tray,
#custom-bluetooth,
#network,
#backlight,
#custom-power{
  min-width: 1em;
  margin: 0 0.7em;
}

tooltip {
  padding: 0.5em;
}


.hidden {
  opacity: 0;
}
