layout {
    gaps 0
    center-focused-column "never"
    background-color "transparent"

    focus-ring {
        off
    }

    border {
        off
        width 2
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    shadow {
        on

        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    default-column-width { proportion 0.5; }

}

overview {
    zoom 0.5
    workspace-shadow {
        off
    }
}

layer-rule {
    match namespace="swww-daemon"
    place-within-backdrop true
}

window-rule {
    clip-to-geometry true
    geometry-corner-radius 0
    draw-border-with-background false
}
prefer-no-csd

// WINDOWS RULES TO USE OPACITY AS FOCUS INDICATOR
window-rule {
    match is-focused=false
    opacity 0.90
}
window-rule {
    match app-id="zen" is-focused=false
    opacity 0.80
}
// window-rule {
//     match is-focused=true
//     opacity 0.95
// }
