  * {
    font-family: "JetBrainsMono Nerd Font", monospace;
  }

  window {
    background-color: #0f1010;
    border: none;
  }

    #input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: #586EAF;
    color: #b9bfd2;
    padding: 8px;
  }

    #inner-box {
    background-color: #0f1010;
  }

    #outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #0f1010;
  }

    #scroll {
    margin: 5px;
  }

    #text {
    padding: 4px;
    color: #7891E3;
  }

    #entry {
    background-color: #0f1010;
  }

    #entry:selected {
    background-color: #6F89CF; /* Color más neutro y visible */
    }

    #text:selected {
    color: #b9bfd2;  /* texto blanco */
    background: transparent;
    }

    #entry:hover {
    background-color: #657AB5;
  }
