[Desktop Entry]
Name=Rmpc
Comment=rmpc launch with kitty
Exec=/home/davidn/scripts/desktop/rmpc-kitty.sh
Icon=
Terminal=false
Type=Application
Categories=System;

