[Desktop Entry]
Name=Timeshift (Wayland)
Comment=Timeshift compatible con Hyprland y Wayland
Exec=/home/davidn/scripts/desktop/timeshift-wayland.sh
Icon=timeshift
Terminal=false
Type=Application
Categories=System;

